.container {
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.availablemoney {
    font: white bold;
}

.navbalance {
    color: lightgreen;
}

.negative {
    color: red;
}

.positive {
    color: green;
}

.negatively {
    color: orangered;
}

.positively {
    color: lightgreen;
}